<div id="<%= dom_id prompt_job %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Prompt:</strong>
    <%= prompt_job.prompt %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">User:</strong>
    <%= prompt_job.user_id %>
  </p>
</div>
