<div class="mx-auto px-4 sm:px-6 lg:px-8 max-w-7xl">
  <!-- Shared Header Partial -->
  <%= render partial: 'prompts/header', locals: { 
    title: t('.title')
  } %>

  <!-- Shared Flash Messages -->
  <%= render partial: 'shared/flash_messages' %>

  <!-- Form Partial -->
  <%= render partial: "form", locals: { prompt: @prompt } %>
</div> 