<p>Hallo <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>Wir kontaktieren dich, um dich dar체ber zu informieren, dass deine E-Mail-Adresse in <%= @resource.unconfirmed_email %> ge채ndert wird.</p>
<% else %>
  <p>Wir kontaktieren dich, um dich dar체ber zu informieren, dass deine E-Mail-Adresse in <%= @resource.email %> ge채ndert wurde.</p>
<% end %>

<%= render partial: 'devise/mailer/signature' %> 