<p>Hallo <%= @resource.email %>!</p>

<p>Jemand hat einen Link angefordert, um dein Passwort zu 채ndern. Du kannst dies 체ber den folgenden Link tun.</p>

<p><%= link_to 'Mein Passwort 채ndern', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Wenn du dies nicht angefordert hast, ignoriere bitte diese E-Mail.</p>
<p>Dein Passwort wird sich nicht 채ndern, bis du auf den obigen Link zugreifst und ein neues erstellst.</p>

<%= render partial: 'devise/mailer/signature' %> 